@model BusinessObjects.Entities.Loan

@{
    ViewData["Title"] = "Loan Details";
}

<div class="container mt-4">

    <div class="card shadow-lg">

        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">📚 Loan Details</h4>
        </div>

        <div class="card-body">

            <div class="row mb-3">
                <div class="col-md-4 fw-bold">
                    User
                </div>

                <div class="col-md-8">
                    @Model.User?.Email
                </div>
            </div>

            @* <div class="row mb-3">
                <div class="col-md-4 fw-bold">
                    Copy Barcode
                </div>

                <div class="col-md-8">
                    @Model.Copy?.Barcode
                </div> xem cái đây lại
            </div> *@

            <div class="row mb-3">
                <div class="col-md-4 fw-bold">
                    Loan Date
                </div>

                <div class="col-md-8">
                    @Model.LoanDate?.ToString("dd/MM/yyyy")
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4 fw-bold">
                    Due Date
                </div>

                <div class="col-md-8">
                    @Model.DueDate.ToString("dd/MM/yyyy")
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4 fw-bold">
                    Return Date
                </div>

                <div class="col-md-8">
                    @(Model.ReturnDate == null
                                        ? "Not Returned"
                                        : Model.ReturnDate.Value.ToString("dd/MM/yyyy"))
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4 fw-bold">
                    Status
                </div>

                <div class="col-md-8">

                    @if (Model.ReturnDate == null)
                    {
                        <span class="badge bg-warning text-dark">
                            Borrowing
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-success">
                            Returned
                        </span>
                    }

                </div>
            </div>

        </div>

        <div class="card-footer">

            <a asp-action="Edit" asp-route-id="@Model?.LoanId"
               class="btn btn-warning">
                Edit
            </a>

            <a asp-action="Index"
               class="btn btn-secondary">
                Back to List
            </a>

        </div>

    </div>

</div>